.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-header .btn-close {
    margin-left: 85%;
}

.card {
    width: 300px;
    height: 300px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
}

.card img{
    height: 300px;
    max-height: 200px;
    border-radius: 10px;
}
.card-img-top {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
  }
  
  .card:hover .card-img-top {
    transform: scale(1.04);
    object-fit: cover;
  }